body, html{
    background-color: #FDF5E6;
}

.my-navbar .navbar-brand{
    color: #FDF5E6;
}


.btn1{
    background-color: #353942;
    border-color: #353942;
    outline-color: 	#353942;
    position: relative;
    bottom: 30px;
}

.btn2{
    background-color: #353942;
    border-color: #353942;
    outline-color: 	#353942;
    position: relative;
    bottom: 30px;
}

.row1{
    padding-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("images/IMG_9275.jpg");
    image-orientation: center;
    text-align: center;
}

.row2{
    padding-top: 24.7%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("images/BLOxTRX.jpg");
    image-orientation: center;
    text-align: center;
}

.photographs{
    width: 70%; /* for example */
    margin: auto;
}