body {
    background: snow;
    font-family: 'porter', Arial, sans-serif;
    letter-spacing: 2.5px
}
.head{
    font-size: 150%;
    font-weight: 600;
    float: left; 
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

div{
    margin-top: 20px;
}

.toplinks{
  font-size: 100%;
  text-decoration: none;
  margin-right: 8px;
  float: right;
}

.row1{
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    background-repeat: no-repeat;
    background-image: url("images/IMG_9275.jpg");
    background-size: contain;
    text-align: center;
    align-content: center;
}

.row2{
    width: 100%;
    height: 0;
    padding-top: 46.0%;
    background-repeat: no-repeat;
    background-image: url("images/BLOxTRX.jpg");
    background-size: contain;
    text-align: center;
    align-content: center;
}

.row3{
    width: 100%;
    height: 0;
    padding-top: 56.24%;
    background-repeat: no-repeat;
    background-image: url("images/CB.gif");
    background-size: contain;
    text-align: center;
    align-content: center;
}

a.pos{
   position: relative;
   bottom: 200px;
   font-size: 150px;
   
}

a.pos:link {
    text-decoration: underline;
    color: white;
}

a.pos:visited {
    text-decoration: none;
    color: white;
}

a.pos:hover {
    text-decoration: underline;
    color: hotpink;
}

a.pos:active {
    text-decoration: none;
    color:white;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: hotpink;
}

a:active {
    text-decoration: none;
    color:black;
}

@ font-face{
    font-family: 'porter';
    src: url(porter.ttf)
}