body, html{
    background-color: #FDF5E6;
}

.my-navbar .navbar-brand{
    color: #FDF5E6;
}


/* .btn1{
    padding:5px 5px;
    font-size:100%;
    line-height: 1;
    background-color: #353942;
    border-color: #353942;
    outline-color: 	#353942;
    position: relative;
    bottom: 30px;
}

.btn2{
    padding:5px 5px;
    font-size:100%;
    line-height: 1;
    background-color: #353942;
    border-color: #353942;
    outline-color: 	#353942;
    position: relative;
    bottom: 30px;
} */

/* .btn3{
    width: 100%;
    background-color: #FF0000;
    border-color: #FF0000;
    outline-color: 	#FF0000;
}

.btn4{
    width: 100%;
    background-color: #FF0000;
    border-color: #FF0000;
    outline-color: 	#FF0000;
} */

.row1{
    background-color: #FF0000;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row2{
    background-color: green;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.profile-img{
    height: 80%;
    margin: auto;
    padding: 40px;
}

.text-section{
    margin: auto;
    padding: 40px;
    height: 75%;
    min-width: 450px;
    width: 40%;
    color: #353942;
    font-family: Verdana;
    background-color: aqua;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

/* .row2{
    padding-top: 24.7%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("images/BLOxTRX.jpg");
    image-orientation: center;
    text-align: center;
} */

.photographs{
    width: 70%;
    margin: auto;
}

.photographstxt1{
    width: 70%;
    text-align: center;
    font-size: 120%;
    color: #353942;
}

.contprofile1{
    background-size: 100%;
    text-align: center;
}

.profileimg1{
    display: block;
    max-width:100%;
    height:auto
}

.profiletxt1{
    text-align: center;
    font-size: 120%;
    color: #353942;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Firefox < 16 */
   @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Safari, Chrome and Opera > 12.1 */
   @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Internet Explorer */
   @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Opera < 12.1 */
   @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }